
@media screen and (max-width: 1152px) {

  #topwidget-area .column{ margin: 0 0 0 3px; }

  #footer-area .column { width: 23%; }

  #footer{ padding: 10px; }

}

@media screen and (max-width: 960px) {

  body{ background: #fff; }

  .block{ margin-bottom: 2%; }

  .content-sidebar-wrap #content{ margin: 0; }

  .region-front-welcome .block h2{ font-size: 18px; }

}

@media screen and (max-width: 640px) {

  body { margin-top: 0; }

  .front .content-sidebar-wrap{ margin: 0; }

  .theme-default .nivo-controlNav{ padding-top: 10px; }

  .region-front-welcome{ padding: 10px; }

  #content, 
  #sidebar-first, 
  #sidebar-second,
  .content-sidebar-wrap { 
    float:none; width:100% !important; 
    clear:both;
    text-align: center; 
  }

  #main-menu ul { display:none; padding: 0; }
  
  #main-menu li ul { position:static; border: 0; }
  
  #main-menu li ul ul { margin:0 !important; border: 0; }
  
  #main-menu ul, #main-menu li { float:none; width:100%; }

  #main-menu{ border:0; float: none; }
  
  #main-menu a {
    width: 100%;
    padding: 7px 0;
    color: #252525;
    border-radius: 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #DDD;
  }

  #main-menu li li a { 
    text-align: center;
    background: #D6CDB7;
    padding: 7px 0;
    border-top: 1px solid #B6B6B6;
    color: #333;
  }
  
  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul { 
    display:none;
  }
  
  .drop-down-toggle { display:block; }

  .menu_wrapper{ margin: 0; }

  #main-menu .nav-toggle {
    background: #18222B;
    color: white;
    margin: 0;
    padding: 3%;
    text-align: center;
    background: url(../images/mobile-menu.png) 10px 10px #18222B no-repeat;
    height: 35px;
    display: inline-block;
    width: 35px;
    float: right;
    text-indent: -9999px;
    font-size: 0;
  }

  #main-menu .nav-toggle.dropdownactive{
    background-position: 11px -21px;
  }

  #main-menu ul.menu li{
    margin: 0;
    width: 100%;
  }

  .theme-default .nivo-caption{ display: none !important; }

  .node { margin: 10px 0; }

  .social-icons{ position: inherit; width: 100%; margin: 10px 0; }

  .social-icons ul{ text-align: center; }

  .copyright, .credits { float: none; text-align: center; }

  #topwidget-area .column{ width: 100%; margin: 0; text-align: center; }

  #top-area .column{ width: 100%; text-align: center; }

  .content-sidebar-wrap #content{ padding: 0 10px; text-align: center; }

  #footer-area .column{ width: 100%; margin: 0; padding: 5px 10px; text-align: center; }

  #footer{ font-size: 15px; }

  .node-type-gallery .field-items .field-item{ width: 50%; text-align: center; }

}

@media screen and (max-width: 440px) {

  .page-wrap{ margin: 0px;}

  input.form-text, select.form-select { width: 93%; }

  textarea.form-textarea { width: 100% }

  .node-type-gallery .field-items .field-item{ width: 100%; text-align: center; }

}

@media screen and (min-width: 641px) {
  #main-menu > ul.menu { 
    display: inline-block !important;
  }
}